# Google Cloud
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
BIGQUERY_DATASET_STAGING=pricewatch_staging
BIGQUERY_DATASET_WAREHOUSE=pricewatch_warehouse
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service_account.json

# Airflow
AIRFLOW_UID=50000